@font-face {
    font-family: 'OpenSans';
    src: url(./Open_Sans/static/OpenSans-Medium.ttf);
    font-weight: bold;
    font-style: bold;
}

*{
    font-family: 'OpenSans';
    color: #fff;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background: url("./fondos.webp");   
    background-repeat: no-repeat;
}
.conteiner{
    position: absolute;
    border-radius: 10px;
    border: solid #ffffff46 1px;
    backdrop-filter: blur(0.3rem);
    background: rgba(0, 0, 0, 0.466);

}

h1{
    font-size: clamp(10px, 7vw, 30px);
    margin-top: 5px;
    margin-bottom: 2px;
    text-align: center;
}
#cantidad{  
    font-size: clamp(10px,4vw,20px);
    border-radius: 10px;
    position: absolute;
    top: 2%;
    right: 18px;
    background: rgba(0, 0, 0, 0.253);
    padding: 3px 10px;
    
}
#listado{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 3px;
    height: 380px;
    margin-bottom: 7px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#listado::-webkit-scrollbar {

    width: 5px; /* Ancho del scrollbar */
  }
  
  #listado::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.575); /* Color del thumb (la parte que se arrastra) */
    border-radius: 5px; /* Bordes redondeados del thumb */
  }
  
  #listado::-webkit-scrollbar-track {
    background-color: #f1f1f14f; /* Color de fondo del track (la parte no arrastrable) */
    border-radius: 5px;
  }
h2{
    color: #ffffffe1;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
}
#pendiente{
    border-bottom: 2px solid #ffffff49;

}

#newtask{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    background: rgba(255, 255, 255, 0.15);
    border: solid #ffffff46 1px;
    border-radius: 10px;
    width: 90%;
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid:10px;    
    align-items: center;
}
#inputTask{
    left: 7px;
    all: unset; 
    padding-left: 20px;
    padding: 8px;
    margin-top: 0px;
    height: 20px;
    width: 95%;
}
#load {
    
    height: 27px;
    width: 90%;
    padding: 0 8px ;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.24);
    border: none;
    text-align: center;
}
.task{
    
    position: relative;
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: 8fr 1fr;
    gap: 5px;
    margin-bottom: 8px;
}
.taskName{
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px; 
    padding-left: 5px;
    background: rgba(255, 255, 255, 0.253);
    border-radius: 10px;
    height: 100%;
    align-items: center;
}
.taskName >p{
    width: 87%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}
.deleted{
    all:unset;
    content: "borrar";
    padding: 5px;
    height: 20px;
    border-radius: 10px;
    background: #0000008f;
    text-align: center;
    margin-right: 5px;
    width: 50px;
}




.hecho{

    background: rgba(0, 0, 0, 0.233);
    
}
.hecho > p{
    color: rgba(230, 230, 230, 0.671);
}
.check{
    all: unset ;
    margin-right: 7px;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffffa9;
    border-radius: 10px;
}
.check-hecho{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4d4d4dde ;
    border: none;
    padding: 2px;
}
.check-hecho > img{
    width: 90%;
}


@media screen and (min-width:925px){
    body{
        background-size: 100% auto;
       }
       .conteiner{
        width: 400px;
        height: 500px;
        top: 50%;
        transform: translateY(-50%);
        right: 100px;
        }

    #load:hover {
        background: rgba(155, 155, 155, 0.24);  
    }
    .deleted:hover{
        background: #000000d8;
    }
    .check:hover{
        background: #ffffffa9;
    }
    .check-hecho:hover{
        background: #272727de ;
    }
}
@media screen and (max-width:925px){
    body{
        background-size: auto 100%;
       }
    .conteiner{
        width: 90%;
        max-width: 400px;
        height: 500px;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
    }
}
